:root {
    --our-color: #3db9c2;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: orange;
}

.sidenav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 4px 0;
}

.sidenav a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

/* first line is a set of conditions, and statements after override
other setting when conditions are true.*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.graphbox {
    padding-bottom: 80px;
}

.selector-tab {
    background-color: #ccddff !important;
    width: 200px !important;
    display: block; !important;
    align-items: center;
    justify-content: center;

}
.selector-tab--selected {
    background-color: #b3ccff !important;
}

.data-tab {
    background-color: #ccff99 !important;
    width: 200px !important;
    display: block; !important;
    align-items: center;
    justify-content: center;

}
.data-tab--selected {
    background-color: #b3ff66 !important;
}

.selector-results-tabs {
    width: 1010px;
    display: inline-block;
    margin-top: 15px;
}

.myheader {
	background-color: var(--our-color);
    height: 95px !important;
    z-index: 1;
    display: flex; !important;
    padding-bottom: 15px;

}

.navbar {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    width: 640;

}

.navbar a {
    font-size: 18px;
    padding: 27px 15px 10px 15px;
    color: #fefefe;
    text-decoration: none;
}

.navbar a:hover {
    font-weight: bolder;
}

.myfooter {
    border-color: darkgray;
    border-width: 3px;
    height: 150px;
}

.myfooter img {
    max-height: 65px;
    padding: 5px 15px 5px 15px;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.inputPanel {
}

.tab-content-box {
    /*border: 2px dotted blue;*/
    display: flex;
}

.explanatory-paragraph {
    max-width: 1000px;
}

/*.VirtualizedSelectOption {*/
/*    display: flex;*/
/*    font-size: small;*/
/*    min-width: 500px;*/
/*}*/

.comp-selector {
    font-size: small;
    align-items: start;
    min-width: 320px;
    text-align: left;
    right: 0; !important;
}

.filter-tab {
    height: 10px;
    padding: 0;
}

.home-text {
    color: white;
    text-align: center;
}

#h1 #h2 .home-text {
    padding-top: 80px;
}
